@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-base-100 text-base-content;
  }
}

@layer utilities {
  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translate(-50%, -20px);
    }
    to {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }

  .animate-slide-down {
    animation: slide-down 0.3s ease-out;
  }
}

